<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit User {{ id }}</h1>
	{% if messages %}
		{% for x in messages %}
			<p>{{ x.message }}</p>
		{% endfor %}
	{% endif %}
	<form action="/users/{{ user.id }}/update" method="POST">
		{% csrf_token %}
		<label>First Name:</label>
		<input type="text" name="first_name" value="{{ user.first_name }}">
		<label>Last Name:</label>
		<input type="text" name="last_name" value="{{ user.last_name }}">
		<label>Email:</label>
		<input type="text" name="email" value="{{ user.email }}">
		<input type="submit" value="Update">
	</form>
	<a href="/users/{{ user.id }}">Show</a>
	<a href="/">Go Back</a>
    </body>
</html>
